body {
  font-family: 'EB Garamond', serif;
}

#map {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
}
.main-heading {
  margin: 0.5em;
}

#heading-img {
  width: 100%;
}

ul {
  list-style: none;
}

#current-location-btn {
  margin-left: 0.5em;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 2em;
  }
}
